# 텐서플로우 2.0에서 1.x.x버전을 사용하기 위한 코드

In [ ]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

In [13]:
import numpy as np
import pandas as pd

WARNING:tensorflow:From C:\Anaconda3\lib\site-packages\tensorflow_core\python\compat\v2_compat.py:65: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [14]:
print(tf.__version__)

2.0.0

# 텐서플로우 모델 초기기화

In [15]:
model = tf.global_variables_initializer()

In [86]:
data = pd.read_csv("data.csv", encoding="euc-KR")

In [87]:
print(data.head())

           날짜  평균 풍속  최저 기온  최고 기온  강수량  평균 가격
0  2010-01-01    1.2  -11.0    0.9  0.0   2123
1  2010-01-02    0.9   -5.5    5.5  0.8   2123
2  2010-01-03    1.8   -6.9    1.4  0.0   2123
3  2010-01-04    2.3   -5.1    2.2  5.9   2020
4  2010-01-05    2.2   -8.7   -1.8  0.7   2060

In [88]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 6 columns):
날짜       2922 non-null object
평균 풍속    2922 non-null float64
최저 기온    2922 non-null float64
최고 기온    2922 non-null float64
강수량      2922 non-null float64
평균 가격    2922 non-null int64
dtypes: float64(4), int64(1), object(1)
memory usage: 137.1+ KB

In [90]:
data.describe()

             평균 풍속        최저 기온        최고 기온          강수량         평균 가격
count  2922.000000  2922.000000  2922.000000  2922.000000   2922.000000
mean      1.501540     8.288227    18.378645     3.445140   3276.506502
std       0.765881    10.232362     9.803192     8.563899   1369.364603
min       0.000000   -14.800000    -7.400000     0.000000   1093.000000
25%       1.000000    -0.700000     9.700000     0.000000   2292.000000
50%       1.300000     8.700000    19.950000     0.100000   3026.000000
75%       1.900000    17.575000    27.100000     2.175000   3974.000000
max       6.200000    25.900000    35.600000    95.500000  12410.000000

In [91]:
data.head()

           날짜  평균 풍속  최저 기온  최고 기온  강수량  평균 가격
0  2010-01-01    1.2  -11.0    0.9  0.0   2123
1  2010-01-02    0.9   -5.5    5.5  0.8   2123
2  2010-01-03    1.8   -6.9    1.4  0.0   2123
3  2010-01-04    2.3   -5.1    2.2  5.9   2020
4  2010-01-05    2.2   -8.7   -1.8  0.7   2060

## 데이터프레임에서 특수문자 제거 후 자료형 변경
- 2020-03-01에서 -를 제거하고 int형으로 변환

In [92]:
data['날짜']=data['날짜'].str.replace('-','').astype(int)

In [93]:
data.head()

         날짜  평균 풍속  최저 기온  최고 기온  강수량  평균 가격
0  20100101    1.2  -11.0    0.9  0.0   2123
1  20100102    0.9   -5.5    5.5  0.8   2123
2  20100103    1.8   -6.9    1.4  0.0   2123
3  20100104    2.3   -5.1    2.2  5.9   2020
4  20100105    2.2   -8.7   -1.8  0.7   2060

In [94]:
xy = np.array(data, dtype=np.float32)

In [96]:
xy

array([[ 2.0100100e+07,  1.2000000e+00, -1.1000000e+01,  8.9999998e-01,
         0.0000000e+00,  2.1230000e+03],
       [ 2.0100102e+07,  8.9999998e-01, -5.5000000e+00,  5.5000000e+00,
         8.0000001e-01,  2.1230000e+03],
       [ 2.0100104e+07,  1.8000000e+00, -6.9000001e+00,  1.4000000e+00,
         0.0000000e+00,  2.1230000e+03],
       ...,
       [ 2.0171228e+07,  8.0000001e-01, -2.0999999e+00,  8.0000000e+00,
         0.0000000e+00,  2.9010000e+03],
       [ 2.0171230e+07,  2.5999999e+00, -1.6000000e+00,  7.0999999e+00,
         6.0000002e-01,  2.9010000e+03],
       [ 2.0171232e+07,  2.5000000e+00, -2.0000000e+00,  5.8000002e+00,
         4.0000001e-01,  2.9010000e+03]], dtype=float32)

In [97]:
type(xy)

numpy.ndarray

In [99]:
xy[0, 1]

1.2

## xy 데이터에서 x 변수는 평균풍속, 최저기온, 최고기온, 강수량 가져오기

In [104]:
x_data = xy[:, 1:-1]

In [105]:
x_data

array([[  1.2, -11. ,   0.9,   0. ],
       [  0.9,  -5.5,   5.5,   0.8],
       [  1.8,  -6.9,   1.4,   0. ],
       ...,
       [  0.8,  -2.1,   8. ,   0. ],
       [  2.6,  -1.6,   7.1,   0.6],
       [  2.5,  -2. ,   5.8,   0.4]], dtype=float32)

In [109]:
y_data =xy[:, [-1]]

In [110]:
y_data

array([[2123.],
       [2123.],
       [2123.],
       ...,
       [2901.],
       [2901.],
       [2901.]], dtype=float32)

In [118]:
X = tf.placeholder(tf.float32, shape=[None, 4])
Y = tf.placeholder(tf.float32, shape=[None,1])
W = tf.Variable(tf.random_normal([4,1]), name="weight")
b = tf.Variable(tf.random_normal([1]), name="bias")

In [120]:
hypothesis = tf.matmul(X, W) + b

In [121]:
cost = tf.reduce_mean(tf.square(hypothesis-Y))

In [122]:
optimizer = tf.train.GradientDescentOptimizer(learning_rate = 0.000005)
train = optimizer.minimize(cost)

In [123]:
sess = tf.Session()
sess.run(tf.global_variables_initializer())

In [127]:
for step in range(100001):
    cost_, hypo_, _ = sess.run([cost, hypothesis, train], feed_dict={X: x_data, Y: y_data})
    if step % 500 ==0:
        print("#", step, "손실비용: ", cost_)
        print("- 배추가격: ", hypo_[1])

# 0 손실비용:  2166828.2
- 배추가격:  [2544.8564]
# 500 손실비용:  2166566.5
- 배추가격:  [2544.679]
# 1000 손실비용:  2166305.8
- 배추가격:  [2544.5146]
# 1500 손실비용:  2166045.0
- 배추가격:  [2544.3486]
# 2000 손실비용:  2165786.5
- 배추가격:  [2544.18]
# 2500 손실비용:  2165528.2
- 배추가격:  [2544.0117]
# 3000 손실비용:  2165271.2
- 배추가격:  [2543.843]
# 3500 손실비용:  2165014.0
- 배추가격:  [2543.6724]
# 4000 손실비용:  2164759.2
- 배추가격:  [2543.4993]
# 4500 손실비용:  2164504.0
- 배추가격:  [2543.3264]
# 5000 손실비용:  2164249.5
- 배추가격:  [2543.1536]
# 5500 손실비용:  2163997.0
- 배추가격:  [2542.978]
# 6000 손실비용:  2163744.8
- 배추가격:  [2542.8008]
# 6500 손실비용:  2163492.5
- 배추가격:  [2542.6238]
# 7000 손실비용:  2163241.8
- 배추가격:  [2542.4468]
# 7500 손실비용:  2162991.5
- 배추가격:  [2542.3103]
# 8000 손실비용:  2162743.0
- 배추가격:  [2542.1765]
# 8500 손실비용:  2162495.2
- 배추가격:  [2542.043]
# 9000 손실비용:  2162249.0
- 배추가격:  [2541.905]
# 9500 손실비용:  2162004.2
- 배추가격:  [2541.761]
# 10000 손실비용:  2161760.5
- 배추가격:  [2541.6145]
# 10500 손실비용:  2161517.5
- 배추가격:  [2541.468]
# 11000 손실비용:  2161274.8
- 배추가격:  [2541.3213]
# 11500 손실비용:  2161032.8
- 배추가격:  [2541.1719]
# 12000 손실비용:  2160792.5
- 배추가격:  [2541.0178]
# 12500 손실비용:  2160552.5
- 배추가격:  [2540.8633]
# 13000 손실비용:  2160313.0
- 배추가격:  [2540.7085]
# 13500 손실비용:  2160074.0
- 배추가격:  [2540.553]
# 14000 손실비용:  2159836.0
- 배추가격:  [2540.3923]
# 14500 손실비용:  2159599.2
- 배추가격:  [2540.2578]
# 15000 손실비용:  2159362.5
- 배추가격:  [2540.123]
# 15500 손실비용:  2159126.2
- 배추가격:  [2539.9883]
# 16000 손실비용:  2158891.0
- 배추가격:  [2539.8496]
# 16500 손실비용:  2158657.2
- 배추가격:  [2539.711]
# 17000 손실비용:  2158423.5
- 배추가격:  [2539.5718]
# 17500 손실비용:  2158190.0
- 배추가격:  [2539.4329]
# 18000 손실비용:  2157957.8
- 배추가격:  [2539.291]
# 18500 손실비용:  2157726.5
- 배추가격:  [2539.148]
# 19000 손실비용:  2157495.8
- 배추가격:  [2539.0044]
# 19500 손실비용:  2157265.2
- 배추가격:  [2538.861]
# 20000 손실비용:  2157036.2
- 배추가격:  [2538.7131]
# 20500 손실비용:  2156810.0
- 배추가격:  [2538.5598]
# 21000 손실비용:  2156583.2
- 배추가격:  [2538.4062]
# 21500 손실비용:  2156357.2
- 배추가격:  [2538.253]
# 22000 손실비용:  2156132.0
- 배추가격:  [2538.1238]
# 22500 손실비용:  2155907.8
- 배추가격:  [2538.013]
# 23000 손실비용:  2155684.0
- 배추가격:  [2537.905]
# 23500 손실비용:  2155461.5
- 배추가격:  [2537.7979]
# 24000 손실비용:  2155239.2
- 배추가격:  [2537.69]
# 24500 손실비용:  2155017.5
- 배추가격:  [2537.579]
# 25000 손실비용:  2154796.8
- 배추가격:  [2537.4617]
# 25500 손실비용:  2154576.0
- 배추가격:  [2537.345]
# 26000 손실비용:  2154356.2
- 배추가격:  [2537.2278]
# 26500 손실비용:  2154136.5
- 배추가격:  [2537.1123]
# 27000 손실비용:  2153917.8
- 배추가격:  [2536.9895]
# 27500 손실비용:  2153700.0
- 배추가격:  [2536.8647]
# 28000 손실비용:  2153482.8
- 배추가격:  [2536.74]
# 28500 손실비용:  2153265.5
- 배추가격:  [2536.615]
# 29000 손실비용:  2153048.8
- 배추가격:  [2536.49]
# 29500 손실비용:  2152833.0
- 배추가격:  [2536.3564]
# 30000 손실비용:  2152618.0
- 배추가격:  [2536.2307]
# 30500 손실비용:  2152403.5
- 배추가격:  [2536.1257]
# 31000 손실비용:  2152189.5
- 배추가격:  [2536.0205]
# 31500 손실비용:  2151976.0
- 배추가격:  [2535.9126]
# 32000 손실비용:  2151765.5
- 배추가격:  [2535.7974]
# 32500 손실비용:  2151555.5
- 배추가격:  [2535.6821]
# 33000 손실비용:  2151345.2
- 배추가격:  [2535.567]
# 33500 손실비용:  2151135.5
- 배추가격:  [2535.4517]
# 34000 손실비용:  2150926.8
- 배추가격:  [2535.335]
# 34500 손실비용:  2150718.5
- 배추가격:  [2535.2158]
# 35000 손실비용:  2150511.2
- 배추가격:  [2535.0962]
# 35500 손실비용:  2150303.8
- 배추가격:  [2534.9766]
# 36000 손실비용:  2150097.0
- 배추가격:  [2534.857]
# 36500 손실비용:  2149890.0
- 배추가격:  [2534.7363]
# 37000 손실비용:  2149685.5
- 배추가격:  [2534.6123]
# 37500 손실비용:  2149479.8
- 배추가격:  [2534.4883]
# 38000 손실비용:  2149275.0
- 배추가격:  [2534.3645]
# 38500 손실비용:  2149070.5
- 배추가격:  [2534.2683]
# 39000 손실비용:  2148867.2
- 배추가격:  [2534.184]
# 39500 손실비용:  2148664.8
- 배추가격:  [2534.1023]
# 40000 손실비용:  2148462.5
- 배추가격:  [2534.0205]
# 40500 손실비용:  2148260.2
- 배추가격:  [2533.9392]
# 41000 손실비용:  2148058.5
- 배추가격:  [2533.8574]
# 41500 손실비용:  2147857.5
- 배추가격:  [2533.774]
# 42000 손실비용:  2147657.2
- 배추가격:  [2533.6858]
# 42500 손실비용:  2147457.5
- 배추가격:  [2533.5989]
# 43000 손실비용:  2147258.0
- 배추가격:  [2533.5125]
# 43500 손실비용:  2147059.8
- 배추가격:  [2533.4219]
# 44000 손실비용:  2146862.8
- 배추가격:  [2533.3252]
# 44500 손실비용:  2146667.0
- 배추가격:  [2533.2205]
# 45000 손실비용:  2146470.8
- 배추가격:  [2533.116]
# 45500 손실비용:  2146275.5
- 배추가격:  [2533.0112]
# 46000 손실비용:  2146080.5
- 배추가격:  [2532.9065]
# 46500 손실비용:  2145885.5
- 배추가격:  [2532.8018]
# 47000 손실비용:  2145691.5
- 배추가격:  [2532.6921]
# 47500 손실비용:  2145498.2
- 배추가격:  [2532.6077]
# 48000 손실비용:  2145305.2
- 배추가격:  [2532.5264]
# 48500 손실비용:  2145112.2
- 배추가격:  [2532.4448]
# 49000 손실비용:  2144920.0
- 배추가격:  [2532.3638]
# 49500 손실비용:  2144728.0
- 배추가격:  [2532.282]
# 50000 손실비용:  2144537.2
- 배추가격:  [2532.1965]
# 50500 손실비용:  2144346.5
- 배추가격:  [2532.1108]
# 51000 손실비용:  2144155.8
- 배추가격:  [2532.0254]
# 51500 손실비용:  2143965.5
- 배추가격:  [2531.9397]
# 52000 손실비용:  2143775.5
- 배추가격:  [2531.854]
# 52500 손실비용:  2143586.2
- 배추가격:  [2531.7659]
# 53000 손실비용:  2143397.5
- 배추가격:  [2531.6763]
# 53500 손실비용:  2143209.2
- 배추가격:  [2531.5862]
# 54000 손실비용:  2143021.5
- 배추가격:  [2531.4963]
# 54500 손실비용:  2142833.2
- 배추가격:  [2531.4062]
# 55000 손실비용:  2142646.5
- 배추가격:  [2531.3164]
# 55500 손실비용:  2142459.0
- 배추가격:  [2531.223]
# 56000 손실비용:  2142272.8
- 배추가격:  [2531.1284]
# 56500 손실비용:  2142086.8
- 배추가격:  [2531.0342]
# 57000 손실비용:  2141902.5
- 배추가격:  [2530.9407]
# 57500 손실비용:  2141719.0
- 배추가격:  [2530.88]
# 58000 손실비용:  2141535.8
- 배추가격:  [2530.819]
# 58500 손실비용:  2141354.0
- 배추가격:  [2530.7605]
# 59000 손실비용:  2141172.0
- 배추가격:  [2530.7026]
# 59500 손실비용:  2140989.8
- 배추가격:  [2530.644]
# 60000 손실비용:  2140808.5
- 배추가격:  [2530.586]
# 60500 손실비용:  2140627.5
- 배추가격:  [2530.5278]
# 61000 손실비용:  2140446.8
- 배추가격:  [2530.4678]
# 61500 손실비용:  2140266.2
- 배추가격:  [2530.4014]
# 62000 손실비용:  2140086.8
- 배추가격:  [2530.3354]
# 62500 손실비용:  2139907.2
- 배추가격:  [2530.2693]
# 63000 손실비용:  2139728.0
- 배추가격:  [2530.2034]
# 63500 손실비용:  2139549.2
- 배추가격:  [2530.1367]
# 64000 손실비용:  2139371.2
- 배추가격:  [2530.0688]
# 64500 손실비용:  2139191.8
- 배추가격:  [2529.994]
# 65000 손실비용:  2139015.0
- 배추가격:  [2529.9165]
# 65500 손실비용:  2138839.2
- 배추가격:  [2529.8318]
# 66000 손실비용:  2138664.2
- 배추가격:  [2529.7468]
# 66500 손실비용:  2138488.5
- 배추가격:  [2529.6624]
# 67000 손실비용:  2138314.0
- 배추가격:  [2529.6023]
# 67500 손실비용:  2138139.5
- 배추가격:  [2529.546]
# 68000 손실비용:  2137965.8
- 배추가격:  [2529.4885]
# 68500 손실비용:  2137792.2
- 배추가격:  [2529.4312]
# 69000 손실비용:  2137619.5
- 배추가격:  [2529.3735]
# 69500 손실비용:  2137446.2
- 배추가격:  [2529.3157]
# 70000 손실비용:  2137273.2
- 배추가격:  [2529.2583]
# 70500 손실비용:  2137100.5
- 배추가격:  [2529.199]
# 71000 손실비용:  2136929.2
- 배추가격:  [2529.137]
# 71500 손실비용:  2136757.8
- 배추가격:  [2529.0752]
# 72000 손실비용:  2136586.0
- 배추가격:  [2529.0134]
# 72500 손실비용:  2136415.0
- 배추가격:  [2528.9517]
# 73000 손실비용:  2136244.5
- 배추가격:  [2528.8896]
# 73500 손실비용:  2136073.5
- 배추가격:  [2528.8276]
# 74000 손실비용:  2135903.8
- 배추가격:  [2528.762]
# 74500 손실비용:  2135733.8
- 배추가격:  [2528.6956]
# 75000 손실비용:  2135564.0
- 배추가격:  [2528.6296]
# 75500 손실비용:  2135394.8
- 배추가격:  [2528.5635]
# 76000 손실비용:  2135225.5
- 배추가격:  [2528.497]
# 76500 손실비용:  2135057.0
- 배추가격:  [2528.431]
# 77000 손실비용:  2134888.0
- 배추가격:  [2528.364]
# 77500 손실비용:  2134720.5
- 배추가격:  [2528.2935]
# 78000 손실비용:  2134552.5
- 배추가격:  [2528.243]
# 78500 손실비용:  2134385.5
- 배추가격:  [2528.2078]
# 79000 손실비용:  2134218.0
- 배추가격:  [2528.1724]
# 79500 손실비용:  2134051.8
- 배추가격:  [2528.1372]
# 80000 손실비용:  2133884.0
- 배추가격:  [2528.1016]
# 80500 손실비용:  2133717.5
- 배추가격:  [2528.0664]
# 81000 손실비용:  2133551.0
- 배추가격:  [2528.0308]
# 81500 손실비용:  2133384.8
- 배추가격:  [2527.995]
# 82000 손실비용:  2133219.0
- 배추가격:  [2527.9592]
# 82500 손실비용:  2133054.5
- 배추가격:  [2527.921]
# 83000 손실비용:  2132890.2
- 배추가격:  [2527.8833]
# 83500 손실비용:  2132726.2
- 배추가격:  [2527.8467]
# 84000 손실비용:  2132562.2
- 배추가격:  [2527.81]
# 84500 손실비용:  2132398.5
- 배추가격:  [2527.7737]
# 85000 손실비용:  2132234.5
- 배추가격:  [2527.7366]
# 85500 손실비용:  2132070.8
- 배추가격:  [2527.7002]
# 86000 손실비용:  2131907.5
- 배추가격:  [2527.6633]
# 86500 손실비용:  2131744.2
- 배추가격:  [2527.627]
# 87000 손실비용:  2131581.5
- 배추가격:  [2527.5903]
# 87500 손실비용:  2131418.2
- 배추가격:  [2527.5537]
# 88000 손실비용:  2131255.5
- 배추가격:  [2527.5168]
# 88500 손실비용:  2131093.0
- 배추가격:  [2527.4805]
# 89000 손실비용:  2130930.2
- 배추가격:  [2527.4434]
# 89500 손실비용:  2130769.2
- 배추가격:  [2527.3926]

# 90000 손실비용:  2130608.5
- 배추가격:  [2527.3372]
# 90500 손실비용:  2130447.2
- 배추가격:  [2527.282]
# 91000 손실비용:  2130287.0
- 배추가격:  [2527.2344]
# 91500 손실비용:  2130126.5
- 배추가격:  [2527.2124]
# 92000 손실비용:  2129966.8
- 배추가격:  [2527.1902]
# 92500 손실비용:  2129806.5
- 배추가격:  [2527.1682]
# 93000 손실비용:  2129648.5
- 배추가격:  [2527.1404]
# 93500 손실비용:  2129492.0
- 배추가격:  [2527.1064]
# 94000 손실비용:  2129336.2
- 배추가격:  [2527.0728]
# 94500 손실비용:  2129180.5
- 배추가격:  [2527.039]
# 95000 손실비용:  2129024.8
- 배추가격:  [2527.0054]
# 95500 손실비용:  2128869.2
- 배추가격:  [2526.9712]
# 96000 손실비용:  2128713.8
- 배추가격:  [2526.9375]
# 96500 손실비용:  2128558.8
- 배추가격:  [2526.9036]
# 97000 손실비용:  2128403.8
- 배추가격:  [2526.8662]
# 97500 손실비용:  2128250.0
- 배추가격:  [2526.8237]
# 98000 손실비용:  2128096.8
- 배추가격:  [2526.7815]
# 98500 손실비용:  2127943.8
- 배추가격:  [2526.739]
# 99000 손실비용:  2127790.0
- 배추가격:  [2526.6963]
# 99500 손실비용:  2127636.8
- 배추가격:  [2526.6538]
# 100000 손실비용:  2127483.5
- 배추가격:  [2526.6113]

In [131]:
saver = tf.train.Saver()
save_path = saver.save(sess, "./saved.cpkt")
print("학습된 모델을 저장했습니다")

학습된 모델을 저장했습니다